.buttons form{
    display: inline-block;
}

.home h1{
    color: #0084FF;
}

.post h2{
    color: tomato;
    text-align: center;
}
.post .post-body{
    white-space: pre-line;
}
.post .posts .date{
    width: 100px;
}

.user {
    max-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
   }
   .user-index ul{
    margin: 0;
    padding: 3px 12px;
   }
   .user-index ul:after {
    content: "";
    display: block;
    clear: both;
   }
   .user-index ul li{
    display: inline-block;
    list-style-type: none;
    float:left;
   }
   .user-index ul li a{
    display: inline-block;
    text-decoration:none;
    margin: 3px;
    background-color: #eee;
    padding: 3px 10px;
    border-radius: 3px;
   }
   .user-index ul li a:hover{
    background-color: #ccc;
   }
   .user-edit hr{
    margin-top: 5px;
    margin-bottom: 11px;
   }