<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><a href="/favinco/saver.png"><img src="/favinco/saver.png" width="99pt" height="26pt" alt="SAVER"></a></div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/sports">Sports</a></li>
                <li><a href="/posts">Humor</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(isAuthenticated){ %>
                    <li><a href="/users/<%= currentUser.username %>" style="color:rgb(32, 146, 32)"><%= currentUser.name %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/users/new">Sign up</a></li>
                    <li><a href="/login">Login</a></li>
                <% } %>
                <!-- <audio src="/favinco/1.그댈 마주하는건 힘들어 (그마힘) - Its Hard To Face You.mp3" autoplay controls>브라우저가 오디오를 지원하지 않습니다...</audio> -->
            </ul>
        </div>
    </div>
</nav>
