<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="container post post-index">
        <% include ./partials/header %>

    <div class="buttons">
        <% if(isAuthenticated){ %>
        <a class="btn btn-default" href="/sports/new">게시물 작성</a>
        <% } %>
    </div>

    <table class="table table-striped posts">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="author">Author</th>
                <th class="date">Date</th>
            </tr>
        </thead>
        <tbody>
            <% if(sports == null || sports.length == 0){ %>
                <tr>
                    <td class="noData" colspan="100"> 게시글이 없습니다. </td>
                </tr>
            <% } %>
            <% sports.forEach(function(sport) { %>
                <tr>
                    <td class="title">
                        <a href="/sports/<%= sport._id %>"><div class="ellipsis"><%= sport.title %></div></a>
                    </td>
                    <td class="author">
                            <div class="ellipsis"><%= sport.author ? sport.author.username : "" %></div>
                        </td>
                    <td class="date">
                        <%= sport.createdDate %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    </div>
</body>
</html>