<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head %>
</head>
<body>
        <% include ../partials/nav %>
        <div class="container home home-about">
            <h1>sports</h1>

            <p>축구, 농구, 탁구, 야구...</p>
        </div>
</body>
</html>