<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
        <div class="jumbotron">
            <h1 style="color:rgb(32, 146, 32)">SAVER</h1>
            <a href="/sports"><img src="/favinco/sports2.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/posts"><img src="/favinco/humor.png"></a>
        </div>
    </div>
</body>
</html>